* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


body {
    background-color: #263069;
    color: rgb(245, 245, 245);
    font-family: aeonik;
    overflow-x: hidden;
}

#loader{
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: red; */
    height: 100%;
    width: 100%;
    z-index: 20;
    overflow: hidden;
    pointer-events: none;
}
#page-transition{
    position: absolute;
    left: 0;
    top: 0;

    height: 0%;
    width: 100%;
    background-color: #ffffff;
}
#page-transition h1{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    color: #263069;
    left: 50%;
    opacity: 0;
}
#header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    height: 80px;
    z-index: 19;
    width: 100%;
}

#header .logo {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 550;
}

#part2 {
    display: flex;
    align-items: center;
}

#part2 a {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(251, 251, 251);
    font-size: 15px;
    font-weight: 400;
}

.container {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.container>h1 {
    font-size: 150px;
    font-weight: 400;
    text-decoration: underline;
}

#page1-index {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #263069;
}
#page1-index>h1{
    position: absolute;
    left: 10%;
    font-size: 10vw;
    top: 20%;
    text-transform: uppercase;
    width: 80vw;
    line-height: 9vw;
    text-align: center;
    z-index: 10;
    color: white;
}
#page1-index>h1 span{
    color: #AACBF4;
}

#page1-index>img{
    height: 230px;
    position: absolute;
    z-index: 8;
}
#page1-index>#img1{
    top: 57%;
    left: 43%;
    transform: rotate(4deg);
}
#page1-index>#img2{
    top: 46%;
    left: 34%;
    height: 280px;
}
#page1-index>#img3{
    top: 44%;
    left: 28%;
    transform: rotate(-14deg);
    height: 300px;
}
#page1-index>#img4{
    top: 52%;
    left: 56%;
    transform: rotate(14deg);
}